* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
}

/* Banner Styles */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    position: absolute;
    width: 520px;
    height: 220px;
    top: 180px;
    left: 800px;
}

.banner-description {
    font-weight: 200;
    font-size: 16px;
    font-style: normal;
    text-align: right;
    color: #444343;
    position: absolute;
    width: 480px;
    height: 80px;
    top: 420px;
    left: 800px;
}

.primary-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    top: 500px;
    left: 1125px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* Past Year Styles */

.past-year {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

.blog {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 980px;
}

.blog h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.blog p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-top: 24px;
    padding-bottom: 16px;
}

.blog ul {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style: none;
    list-style-image: url('../images/icons/checkmark.png');
}

/* My Plan Styles */

.section-title {
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plans {
    display: flex;
    gap: 85px;
    justify-content: center;
    padding-top: 55px;
}

.plans h3 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plans p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Flyer Styles */

.flyer {
    position: absolute;
    background-image: linear-gradient(to right, rgba(238, 61, 16, 0.52), rgba(247, 242, 246, 0.73)), url('../images/watch.png');
    background-size: cover;
    width: 800px;
    height: 250px;
    justify-content: center;
    border-radius: 8px;
    border: none;
    align-items: center;
    text-align: left;
    left: 20%;
    top: 2400px;
}

.flyer-title {
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    height: 50px;
    text-align: left;
    padding: 50px;
    color: #FFFFFF;
}

.flyer-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    margin-left: 50px;
    margin-bottom: 500px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}

/* soft skills styles */

.soft-skills {
    margin-top: 200px;
}

.skills-container {
    display: flex;
    gap: 24px;
    padding-top: 20px;
}

.skill {
    background-color: antiquewhite;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
}

/* footer styles */

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 577px;
    margin-top: 550px;
    background: #151414;
}

.future {
    color: #F8F8F8;
    padding: 100px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    width: 485px;
    height: 78px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.footer-email {
    padding-top: 30px;
    padding-bottom: 15px;
}

.social-icon {
    margin-top: 390px;
    text-align: left;
    justify-content: left;
    gap: 10px;

}

.subscription {
    padding: 100px;
}

.subscription h3 {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.subscription input {
    width: 325px;
    height: 64px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #151414;
    color: #FFFFFF;
}

.subscription button {
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    margin-top: 16px;
}

.social-icon {
    display: flex;
}